body{
    margin:0;
    background-image:url(https://i.natgeofe.com/n/a11e9ead-955f-4a4e-977c-d1b2f104ee75/zagrebgettyimages-1144074611hr_3x2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.clock-container{
    display:flex;
    height:100vh;
    justify-content: center;
    align-items: center;
 
}

#clock{
    font-size:8rem;
    font-weight: bold;
    font-family: monospace;
    color:hsla(0, 0%, 100%, 0.897);
    backdrop-filter: blur(10px);
    width:100%;
    background-color: rgba(255, 255, 255, 0.089);
    text-align: center;
}